body {
  direction: rtl;
  font-family: "Tajawal";
  padding: 2% 5%; /* TRBL */
}

a {
  display: inline;
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.5;
}

label {
  display: block;
}
/**************** header style ****************/
.header {
  border-bottom-style: solid;
  border-bottom-width: 0.01cm;
  border-bottom-color: #f2f2f5;
}

.logo {
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #FFCB21; */
}

/**************** main container style ****************/

.container {
  padding-top: 5%;
  /*padding: 5% 7%;!* TRBL *!*/
}

.title {
  width: 100%;
  height: 6.5%;
  font-size: 1.5rem;
  font-weight: 1000;
  border-top-left-radius: 0.2cm;
  border-top-right-radius: 0.2cm;
  display: inline-block;
  background-color: #f2f2f5;
}

/**************** main tabs style ****************/
.main-tabs {
  width: 50%;
  height: 6.5%;
  font-size: 1.5rem;
  font-weight: 1000;
  border-top-left-radius: 0.2cm;
  border-top-right-radius: 0.2cm;
  display: inline-block;
}

.yellow-tab {
  background-color: #ffcb21;
}

.grey-tab {
  background-color: #f2f2f5;
}

/*.grey-tab:hover{*/
/*    background-color: #A8D2E3;*/
/*}*/

.inside-tab {
  padding-right: 5%;
}

/**************** form main container style ****************/
.form-container {
  padding: 2% 5%;
  border-style: solid;
  border-width: 0cm 0.01cm 0.01cm 0.01cm; /*TRBL*/
  border-color: #f2f2f5;
}

/**************** inside form main container style ****************/
.inside-form-container {
  padding: 2% 5%;
}

.input-spans {
  display: inline-block;
  padding-bottom: 20px;
  width: 49%;
}

.input-spans-left {
  display: inline-block;
  padding-bottom: 20px;
  width: 49%;
  float: left;
}

::placeholder {
  font-family: "Tajawal";
  padding-right: 2%;
}

.area-span {
  display: inline-block;
  margin-top: 15px;
  padding-bottom: 20px;
  width: 100%;
}

.red {
  color: #ff5c5c;
}

.grey {
  font-size: 0.7rem;
  color: dimgrey;
}

input {
  width: 100%;
  border-style: solid;
  border-color: #f2f2f5;
  border-radius: 0.1cm;
  border-width: 0.05cm;
  height: 30px;
  -webkit-appearance: none;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  width: 100%;
  background-color: #ffcb21;
  border-style: solid;
  border-color: #ffcb21;
  border-radius: 0.1cm;
  border-width: 0.05cm;
  height: 20px;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

select {
  font-family: "Tajawal";
  width: 100%;
  border-style: solid;
  border-color: #f2f2f5;
  border-radius: 0.1cm;
  border-width: 0.02cm;
  height: 30px;
  padding-right: 20px;
  background-image: url(../images/caret-down-solid.svg);
  background-position: 2% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.social-account {
  width: 30%;
  display: inline-block;
}

.input-area {
  width: 100%;
  height: 90px;
}

.left-float {
  float: left;
}

.space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button {
  margin-top: 1px;
  margin-bottom: 10px;
  font-family: "Tajawal";
  background-color: #ffcb21;
  /* box-shadow: 5px 5px 4px lightgray; */
  border: none;
  width: 120px;
  border-radius: 0.1cm;
  height: 30px;
  -webkit-appearance: none;
}

.button:hover {
  background-color: #65a7c3;
  color: white;
}

/**************** RESPONSIVE ****************/
@media screen and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }

  .container {
    padding-top: 8%;
  }

  .main-tabs {
    display: inline-block;
    width: 50%;
    height: 5%;
    font-size: 1.1rem;
    padding-top: 2.5%;
    /*border-radius: 0.2cm;*/
  }
  .title{
    padding-top: 2.5%;
  }

  /*.input{*/
  /*    border-width: 0.1cm;*/
  /*}*/
  .input-spans,
  .input-spans-left {
    display: inline-block;
    width: 100%;
  }

  .button {
    margin-top: 10px;
  }
}
